<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>audiences</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: #edeff1"
      data-bs-theme="light">
      <div class="container">
        <a class="navbar-brand" href="/">Smartum</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
               <a th:href="@{/audiences/audience/new}">
                  <button class="btn btn-success">Додати аудиторію</button>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-4">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Аудиторія</th>
              <th scope="col">Опис</th>
              <th scope="col">Редагувати</th>
              <th scope="col">Видалити</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="audience, index : ${audiences}">
              <td th:text="${index.count}"></td>
              <td th:text="${audience.name}"></td>
              <td th:text="${audience.description}"></td>
              <td>
                <a th:href="@{'audiences/' + ${audience.id}}">
                  <button class="btn btn-primary">Редагувати</button>
                </a>
              </td>

              <td>
                  <form  th:action="@{/audiences/{id}/delete( id=${audience.id})}" method="post">
                  <button class="btn btn-danger">Видалити</button>
                  </form>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
