<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>price-new</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg" style="background-color: #edeff1"
		data-bs-theme="light">
		<div class="container">
			<a class="navbar-brand" href="/">Smartum</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/prices">Вартість курсів</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div>
			<div class="text-center fs-6 text-uppercase fw-semibold">Нова вартість курсу</div>
			<form th:action="@{/prices/create}" method="post">
				<div class="mb-3">
				 <select name="subjectId" class="form-select" aria-label="Default select example">
                        <option selected>Виберіть курс</option>
                        <option th:if="${subjectChoosen==null}"  th:each="subject : ${subjects}" th:text="${subject.name}" th:value="${subject.id}" >subject name</option>
                        <option th:unless="${subjectChoosen==null}" 
	                        th:each="subject : ${subjects}" 
	                        th:text="${subject.name}" 
	                        th:value="${subject.id}"
	                        th:selected="${subjectChoosen.id == subject.id}" >subject name</option>	                       
                    </select>
					<label for="price-name" class="form-label"> Вид ціни <input
						class="form-control" id="price-name" type="text" name="name"
						value="Базова" />
					</label> <label for="value" class="form-label"> Вартість за урок <input
						class="form-control" id="value" type="text" name="value" value="" />
					</label> <label for="date" class="form-label"> Дата <input
						class="form-control" id="date" type="date" name="date" value="" />
					</label>
					

				</div>
				<button type="submit" class="btn btn-primary">Виконати</button>
			</form>
		</div>
	</div>
</body>
</html>
