<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>StudentsDiscounts</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg" style="background-color: #edeff1"
		data-bs-theme="light">
		<div class="container">
			<a class="navbar-brand" href="/">Smartum</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a th:href="@{/studentsDiscounts/studentDiscount/new}">
							<button class="btn btn-success">Додати знижку студенту</button>
					</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/students">Студенти</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<div class="container my-4">
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Прізвище</th>
                        <th scope="col">Імя</th>  				
                        <th scope="col">Курс</th>  				
						<th scope="col">Вид знижки</th>
						<th scope="col">Знижка</th>	
						<th scope="col">Дата</th>												
						<th scope="col">Редагувати</th>
						<th scope="col">Видалити</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studentDiscount, index : ${studentsDiscounts}">
						<td th:text="${index.count}"></td>
						<td th:text="${studentDiscount.student.lastName}"></td>
						<td th:text="${studentDiscount.student.firstName}"></td>
						<td th:text="${studentDiscount.subject.name}"></td>
						<td th:text="${studentDiscount.discount.name}"></td>
						<td th:text="${studentDiscount.discount.value}"></td>
						<td th:text="${studentDiscount.date}"></td>
						
						
						<td>
                            <form th:action="@{/studentsDiscounts/{id} ( id=${studentDiscount.id})}"
                                method="get">
                                <button class="btn btn-success">Редагувати знижку</button>
                            </form>
                        </td>
						
						<td>
							<form th:action="@{/studentsDiscounts/{id}/delete( id=${studentDiscount.id})}"
								method="post">
								<button class="btn btn-danger">Видалити</button>
							</form>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
